//mixins
@mixin backdrop-filter-blur($blur) {
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
    -moz-backdrop-filter: blur($blur);
    -o-backdrop-filter: blur($blur);
}

.contact_form_container {
    font-size: 16px;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1484&q=80');
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Encode Sans', sans-serif;

    &_sub_container {
        width: 60%;
        height: auto;
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        background-color: rgba(255, 255, 255, 0.295);
        @include backdrop-filter-blur(40px);
        padding: 1.2em;
        border-radius: 10px;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);


        &_message {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            padding: 2em;
            gap: 2em;

            h3 {
                font-size: 3em;
                color: #525252;

                span {
                    color: #44006D;
                }
            }

            p {
                color: #44006D;
                font-size: 1.5em;
            }

            &_author {
                font-size: 1.5em;
                color: #525252;
            }
        }

        &_form {
            width: 100%;
            height: 100%;
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2em;
            gap: 1em;

            .row {
                width: 100%;
                display: flex;
                gap: 1em;
            }

            .input {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: .5em;

                .input_name {
                    font-weight: lighter;
                    color: #525252;
                }

                input {
                    font-size: 1.2em;
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: #EFEFEF;
                    padding: 0.9em 0.9em;
                    border-radius: .5em;
                    color: #525252;
                }
            }

            h3 {
                font-size: 2em;
                border-bottom: 1px solid #44006D;
                color: #44006D;
                margin-bottom: 1em;
            }

            button {
                background-color: #EF8F29;
                color: white;
                padding: 1em 6em;
                border-radius: 0.5em;
                border: none;
                outline: none;
                margin-top: 2em;

                span {
                    font-size: 1.2em;
                    font-weight: lighter;
                }
            }
        }
    }
}

@media (max-width:1500px) {
    .contact_form_container {
        &_sub_container {
            width: 80%;
        }
    }
}

@media (max-width:1060px) {
    .contact_form_container {
        &_sub_container {
            width: 90%;
        }
    }
}

@media (max-width:950px) {
    .contact_form_container {
        font-size: 14px;
    }
}

@media (max-width:850px) {
    .contact_form_container {
        position: relative;
        height: auto;
        padding: 2em 0;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000044;
        }

        &_sub_container {
            background: transparent;
            box-shadow: none;
            backdrop-filter: none;
            grid-template-columns: 1fr;
            height: auto;

            &_message {
                h3 {
                    font-weight: 700;
                    color: white;

                    span {
                        color: white;
                    }
                }

                p {
                    color: white;
                    font-weight: 300;
                }

                &_author {
                    font-weight: 300;
                    color: white;
                }

            }

            &_form {
                background-color: #ffffffa1;
                backdrop-filter: blur(40px);
            }
        }
    }
}

@media (max-width:480px) {
    .contact_form_container {
        &_sub_container {
            &_form {
                .row {
                    flex-direction: column;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width:450px) {
    .contact_form_container {
        font-size: 12px;

        &_sub_container {
            width: 90%;
            height: auto;
        }
    }
}

@media (max-width:390px) {
    .contact_form_container {
        font-size: 10px;

        &_sub_container {
            width: 90%;
            height: auto;
        }
    }
}