//fonts
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//nomalize
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}


body{
    background-color: #EFEFEF;
    font-family: 'Encode Sans', sans-serif;
}

//other styles
@import './header.scss';
@import './blog.scss';
@import './contactForm.scss';
@import './blogHome.scss';
@import './cardBlog.scss';
//@import './home.scss';
@import './footer.scss';
@import './cardBlogMobile.scss';
@import './search.scss';
@import './services.scss';

.title-main-h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    color: $color-grey;
    grid-column: 1/-1;
    padding: 20px 0;
    width: 500px;
    margin: 0 auto;
    text-align: center;

    &--certificate {
        width: 79%;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }

    @media only screen and (max-width: 500px) {
        font-weight: 500;
        font-size: 27px;
        line-height: 35px;
        width: 100%;
    }

    &--purple {
        @media only screen and (max-width: 500px) {
            color: $color-purple;
        }
    }

    &--reasons {
        width: 600px;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &--testimony {
        width: 55%;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &--cells {
        width: 900px;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
}